body {
    background-image: url("img/cork.png");
}

header {
  background-image: url("img/wall.png");
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

.scritta_principale {
    text-align: center;
    font-size: 60px;
    font-weight: 600px;
}

.sfondo_bianco {
    background-color: white;
    padding: 15px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.sfondo_verde1 {
    background-color: rgb(95, 182, 95);
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-left: 20px;
}

p {
    margin-top: 15px;
    font-style: italic;
    color: #444;
}