/*------------------font----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/*---------------classi principali---------------------*/
body {
    background-image: url("img/cork.png");
}

header {
  background-image: url("img/wall.png");
}

.scritta_principale {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Edu TAS Beginner', sans-serif;
}
/*
.sfondo_bianco {
    background-color: white;
    padding: 15px;
    padding-bottom: 10px;
}

.sfondo{
    color: rgba(255,255,255,0.5);
    text-align: center;
}
p {
    margin-top: 15px;
    font-style: italic;
    color: #444;
    font-family: 'Sometype Mono', monospace;
}
*/
.data {
    font-style: italic;
    color: #444;
    font-family: 'Sometype Mono', monospace;
    margin-bottom: 2px;
}
.titolo {
    color: black;
    font-family: 'Edu TAS Beginner', sans-serif;
    font-weight: 900; 
    font-size: 30px;

    text-transform: uppercase; /* rende tutto maiuscolo */
}


.involucro_card {
    position: relative;
}

.pallino {
    position: absolute;
    top: -15px;
    left: 46%;
    z-index: 10;
}

.padding_basso {
    padding-bottom: 0px; 
}

/*
.pallino {
    display:block;
    position:relative;
    top: 20px;;
    left: 45%;
}
*/

/*---------------colori card-------------------*/
/*
.verde1{
    background-color: rgb(132, 201, 28);

}

.viola {
    background-color: rgb(173, 23, 218);
}

.verde2 {
    background-color: rgb(12, 165, 12);
}

.fuxia {
    background-color: rgb(226, 1, 226);
}

.rosa {
    background-color: palevioletred;
}

.azzurro {
    background-color: rgb(116, 199, 224);
}
*/
/*-------------adattaenti schermo--------------*/

/* Mobile: fino a 576px */
/*
@media (max-width: 576px) {
    .sfondo{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .padding {
        padding-left: 15%;
        padding-right: 15%;
    }
}
*/
/* Tablet: da 577px a 767px */
/*
@media (min-width: 577px){
    .sfondo{
        padding-top: 150px;
        padding-bottom: 150px;
    }
        .padding {
        padding-left: 5%;
        padding-right: 5%;
    }
}
*/

/* Desktop: da 768px in su */
/*
@media (min-width: 768px) {
    .sfondo{
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
*/