body {
    background-image: url("img/cork.png");
}

header {
  background-image: url("img/wall.png");
}

.scritta_principale {
    text-align: center;
}

.sfondo_bianco {
    background-color: white;
}

.sfondo_verde1 {
    background-color: rgb(95, 182, 95);
    color: rgb(214, 212, 212);
}