body {
    background-image: url("img/cork.png");
}

header {
  background-image: url("img/wall.png");
}

.scritta_principale {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.sfondo_bianco {
    background-color: white;
    padding: 15px;
    padding-bottom: 10px;
}

.sfondo_verde1 {
    background-color: rgb(95, 182, 95);
    color: rgba(255,255,255,0.5);
    text-align: center;
}

p {
    margin-top: 15px;
    font-style: italic;
    color: #444;
}

/* Mobile: fino a 576px */
@media (max-width: 576px) {
    .sfondo_verde1 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .padding {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* Tablet: da 577px a 767px */
@media (min-width: 577px){
    .sfondo_verde1 {
        padding-top: 150px;
        padding-bottom: 150px;
    }
        .padding {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Desktop: da 768px in su */
@media (min-width: 768px) {
    .sfondo_verde1 {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}